
/*название шрифта*/

@font-face {
    font-family: "Lato Thin";
    src: url("../assets/fonts/Lato-Thin.ttf");
}

@font-face {
    font-family: "Lato Light";
    src: url("../assets/fonts/Lato-Light.ttf");
}

@font-face {
    font-family: "Lato Regular";
    src: url("../assets/fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato Medium";
    src: url("../assets/fonts/Lato-Medium.ttf");
}

@font-face {
    font-family: "Lato Heavy";
    src: url("../assets/fonts/Lato-Heavy.ttf");
}

@font-face {
    font-family: "Lato Bold";
    src: url("../assets/fonts/Lato-Bold.ttf");
}

@font-face {
    font-family: "Montserrat UltraLight";
    src: url("../assets/fonts/Montserrat-UltraLight.ttf");
}

@font-face {
    font-family: "Myriad";
    src: url("../assets/fonts/Myriad.otf");
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    //width: 100vw;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.header {
    //min-width: 1600px;
    //width: 100%;
}

.hdr-container {
    width: 100%;
    height: 945px;

    color: #ffffff;

    background: url("../assets/img/bg/bg-hdr.jpg") rgba(0, 0, 0, 0.8);
    background-size: cover;
    background-blend-mode: multiply;
}

.wrapper {
    max-width: 1200px;
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.hdr-top {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

h1.logo {
    position: relative;
    top: 4px;
    left: 2px;

    width: 165px;
    height: 0;
    padding-top: 30px;
    overflow: hidden;

    background: url("../assets/img/logo.png") no-repeat;
}

.nav {
    display: flex;
}

.nav-item {
    margin-left: 69px;
    padding: 35px 0;

    border-bottom: 1px solid rgba(255, 255, 255, 0);

    transition: border-bottom 0.5s;
}

.nav-item:hover {
    border-bottom: 1px solid #ffffff;
}

.nav-item a {
    font-size: 16px;
    font-family: "Lato Medium", "Arial", sans-serif;
    color: #ffffff;
}

.hdr-center {
    display: flex;
    flex: 0 0 calc(100% - 90px);
    justify-content: center;
    align-items: center;
}

.hdr-text p:first-child {
    position: relative;
    bottom: 13px;

    font-size: 72px;
    font-family: "Myriad", "Arial", sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.hdr-text p + p {
    margin-bottom: 8px;

    font-style: italic;
    font-size: 32px;
    font-family: "Georgia", serif;
    text-align: center;
}

.hdr-btn {
    height: 120px;
    display: flex;
}

.btn-login {
    width: 103%;

    background-color: #21424a;

    transition: filter 0.2s;
}

.btn-registr {
    width: 100%;

    background-color: #2fac6c;

    transition: filter 0.2s;
}

.btn-registr::before {
    position: relative;
    top: 0;
    left: -15px;

    width: 60px;
    height: 100%;
    display: inline-block;

    background-color: #2fac6c;
    transform: skew(-13deg);

    transition: filter 0.2s;

    content: "";
}

.btn-login:hover,
.btn-registr:hover,
.btn-registr:hover::before {
    filter: grayscale(100%);
}

.btn-login span,
.btn-registr span {
    position: relative;

    font-size: 22px;
    font-family: "Lato Medium", "Arial", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
}

.btn-login span {
    top: 38%;
    left: 58%;
}

.btn-registr span {
    left: 23%;
    bottom: 43%;
}

/*main {
    min-width: 1600px;
}*/

section.domain {
    height: 578px;

    background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill: none; stroke: rgba(0, 0, 0, 0.13); stroke-width: 1; stroke-dasharray: 8 8'/></svg>");
    background-color: #fafafa;
}

.domain-container {
    width: 74%;
    height: 402px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.domain-headline {
    font-size: 24px;
    font-family: "Lato Heavy", "Arial", sans-serif;
    color: #383737;
}

.domain-text {
    margin: 20px 0 20px;

    font-size: 16px;
    font-family: "Montserrat UltraLight", "Arial", sans-serif;
    color: #a2a2a2;
}

.domain-table,
.domain-form {
    width: 100%;
    display: flex;

    font-family: "Lato Medium", "Arial", sans-serif;

    border: 1px solid #d5d5d5;
}

.domain-form {
    margin: 30px 0;
    padding: 8px;

    height: 50px;

    background-color: #ffffff;
}

.domain-form span {
    width: 64px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    color: #cbcbcb;
}

.domain-input {
    width: 86%;
    padding: 0 14px;

    border-width: 0 1px;
    border-color: #d9d9d9;
    border-style: solid;
    outline: none;
}

::-webkit-input-placeholder {
    color: #868686;
}

.domain-name {
    width: 71px;
    padding: 0 16px;

    color: #cbcbcb;
    text-indent: 0.01px;
    text-overflow: "";


    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    border: none;

    cursor: pointer;
}

.domain-form::after {
    position: relative;
    right: 15px;

    color: #c8c8c8;

    transform: rotate(90deg) scale(1, 1.5);

    content: ">";
    pointer-events: none;
}

.domain-name option {
    width: 10%;

    color: #cbcbcb;

    border: 0;
}

.domain-table {
    height: 194px;
    margin-top: 10px;

    color: #cbcbcb;

    border-collapse: collapse;
}

tbody {
    width: 100%;
}

.table-row-top,
.table-row-bottom {
    height: 50%;
    display: flex;
}

.table-row-top td,
.table-row-bottom td {
    position: relative;

    width: 25%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.table-row-top td:first-child,
.table-row-bottom td:first-child {
    text-transform: uppercase;
}


.table-row-top td::before {
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 90%;
    height: 1px;
    display: block;

    background-color: #d9d9d9;
    transform: translateX(-50%);

    content: "";
}

.table-row-top td::after,
.table-row-bottom td::after {
    position: absolute;
    top: 50%;
    right: 0;

    width: 1px;
    height: 80%;
    display: block;

    background: #d9d9d9;
    transform: translateY(-50%);

    content: "";
}

.table-row-top td:last-child::after,
.table-row-bottom td:last-child::after {
    width: 0;
}


.packages {
    position: relative;

    min-height: 765px;
}

.packages-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    height: 50%;
    width: 100%;

    background-image: url("../assets/img/bg/bg-packages.jpg");
    background-position-y: 38%;
    background-size: cover;
}

.packages-border-bottom {
		z-index: -1;

		max-height: 105px;
}

.packages-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.packages-item {
    width: 255px;
    height: 560px;
    margin-top: 100px;
    padding: 28px;

    background-color: #ffffff;
    border-top-width: 5px;
    border-top-style: solid;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.06);
}

.package-1,
.package-1 .packages-item-cost {
    color: #f9d423;

    border-color: #f9d423;
}

.package-2,
.package-2 .packages-item-cost {
    color: #7f8c8d;

    border-color: #7f8c8d;
}

.package-3,
.package-3 .packages-item-cost {
    color: #f5603f;

    border-color: #f5603f;
}

.package-4,
.package-4 .packages-item-cost {
    color: #1cbb9d;

    border-color: #1cbb9d;
}

.packages-item-logo {
    position: relative;

    width: 53px;
    height: 53px;
    margin: 8px auto;
}

.packages-item-logo svg {
    position: absolute;
    right: 2px;

    stroke-width: 6px;
    stroke-linecap: round;
}

.package-2 svg,
.package-3 svg {
    transform: rotate(-90deg);
}

.packages-item-logo .fa {
    position: absolute;
    top: 37%;
    left: 26%;

    font-size: 17px;
}

.packages-item-name,
.packages-item-btn {
    margin: 18px 0;

    font-size: 16px;
    font-family: "Lato Bold", "Arial", sans-serif;
    color: #282828;
    text-transform: uppercase;
    text-align: center;
}

.packages-item-info {
    padding: 16px 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}

.packages-item-info p {
    margin-bottom: 20px;
}

.packages-item-info p:last-of-type {
		margin: 0;
}

.packages-info-col-name {
	  font-family: "Lato Light", "Arial", sans-serif;
    color: #b4b4b4;
}

.packages-info-col-val p {
		font-family: "Lato Bold", "Arial", sans-serif;
    text-align: right;
}

.packages-item-bottom {
    display: flex;
    flex-direction: column;
}


.packages-item .packages-item-cost {
    width: 53%;
		margin: 25px auto 15px;
		padding: 4px 0;

    font-size: 28px;
    font-family: "Lato Bold", "Arial", sans-serif;
    text-align: center;
    color: #282828;

    border-bottom-width: 3px;
    border-bottom-style: solid;
}

.packages-item-cost::before {
    position: relative;
    bottom: 8px;

    font-size: 17px;

    content: "$";
}

.packages-item-cost::after {
    position: relative;

    font-size: 13px;
    color: #8d8d8d;

    content: "/Mo";
}

.packages-item-btn {
    margin: 0;

    transition: opacity 0.3s;
}

.packages-item-btn:hover {
    opacity: 0.5;
}

.about {
    height: 400px;
}

.about-container {
    width: 100%;
    height: 200px;
    display: flex;

    justify-content: space-between;
}

.about-info {
    width: 425px;
}

.about-info::after {
    position: relative;
    top: -188px;
    left: 520px;

    content: url("data:image/svg+xml;utf8,<svg width='1' height='200' xmlns='http://www.w3.org/2000/svg'><line x1='100%' y1='0' x2='100%' y2='100%' stroke='rgba(0, 0, 0, 0.13)' stroke-dasharray='4' stroke-width='2' /></svg>");
}

.about-headline {
    font-weight: 500;
    font-size: 35.5px;
    font-family: "Lato Regular", "Arial", sans-serif;
    color: #303030;
}

.about-headline span {
    font-weight: 900;
}

.about-text {
    margin-top: 23px;

    font-size: 18px;
    line-height: 27px;
    font-family: "Lato Thin", "Arial", sans-serif;
    color: #747474;
}

.about-persons {
    display: flex;
    justify-content: flex-end;
}

.about-person-item {
    margin: 8px 17px 0 105px;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 17px;
}

.person-photo {
    width: 100px;
    height: 100px;

    border: 5px solid #e5e5e5;
    border-radius: 50%;
}

.person-1 .person-photo {
    background-image: url("../assets/img/person-1.jpg");
}

.person-2 .person-photo {
    background-image: url("../assets/img/person-2.jpg");
    background-position: -3px -4px;
}

.person-3 .person-photo {
    background-image: url("../assets/img/person-3.jpg");
    background-position: -8px 0;
}

.person-name {
    margin-top: 13px;

    font-family: "Lato Bold", "Arial", sans-serif;
    color: #303030;
}

.person-post {
    margin: 7px 0;

    font-family: "Lato Regular", "Arial", sans-serif;
    color: #8e8e8e;
}

.person-social {
    width: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.person-social-item {
    color: #bfbfbf;

    transition: color 0.3s;
}

.person-social-item:hover {
    color: #1f89ba;
}

.comments-slider {
    height: 190px;
    background-image: url("../assets/img/bg/bg-comments.jpg");
    background-position: 50% -60%;
    background-size: cover;
}

.comments-container {
    width: 80%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    font-size: 20px;
    font-family: "Lato Light", "Arial", sans-serif;
    text-align: center;
    color: #ffffff;
}

.quotation {
    line-height: 30px;
}

.comments-control {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.comments-writer {
    padding: 0px 9px;

    font-family: "Lato Bold", "Arial", sans-serif;

    border-right: 1px solid #969696;
}

.dots-navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dot {
    width: 8px;
    height: 8px;
    margin-left: 12px;

    border: 1px solid #ffffff;
    border-radius: 50%;

    cursor: pointer;

    transition: background 0.1s;
}

.dot:hover,
.dot-active {
    background: #ffffff;
}

.benifits {
    height: 342px;
}

.benifits-container {
	  width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.benifits-item {
    max-width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.benifits-logo {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 28px;
    color: #ffffff;

    border-radius: 50%;
}

.benifits-logo.yellow {
    background: #f1c40f;
}

.benifits-logo.blue {
    background: #0faff1;
}

.benifits-logo.grey {
    background: #95a5a6;
}

.benifits-logo.orange {
    background: #f1540f;
}

.benifits-name {
    margin-top: 18px;

    transition: opacity 0.2s;
}

.benifits-name:hover {
    opacity: 0.5;
}

.benifits-name a {
    font-size: 18px;
    font-family: "Lato Heavy", "Arial", sans-serif;
    color: #303030;
}

.benifits-description {
    font-size: 16px;
    line-height: 22px;
    font-family: "Lato Light", "Arial", sans-serif;
    text-align: center;
    color: #7e7e7e;
}

.footer {
   // min-width: 1600px;
    height: 295px;

		font-size: 15px;
    font-family: "Lato Light", "Arial", sans-serif;
    color: #686868;

    background-color: #2a2a2a;
}

.footer a {
    color: #686868;

    transition: color 0.5s;
}

.footer a:hover {
    color: #ffffff;
}

.footer-top {
    width: 100%;
    min-height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #393939;
}

.footer-logo {
    opacity: 0.5;
}

.footer-nav {
    width: 430px;
    display: flex;
}

.footer-nav-item {
    margin-left: 45px
}

.footer-nav-item:first-of-type {
    margin-left: 0;
}

.footer-nav a {
    font-size: 13px;
    font-family: "Lato Medium", "Arial", sans-serif;
    text-transform: uppercase;
}

.footer-container {
    min-height: calc(100% - 75px);
    padding: 33px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-item {
		width: calc(100%/3);
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    font-style: normal;
}

.footer-item:first-child {
    min-width: 378px;
    padding-right: 48px;
}

.footer-item:last-child {
    min-width: 318px;
    padding-left: 75px;
}

.footer-text {
		width: 100%;

    line-height: 26px;
}

.footer-name {
    margin-top: 20px;
}

.footer-name span {
    font-family: "Lato Bold", "Arial", sans-serif;
}

.footer-links {
    min-width: 503px;
    padding: 18px 100px;

    border-width: 0 1px;
    border-style: solid;
    border-color: #393939;
}

.footer-links-item {
    margin: 6px 63px 6px 5px;
}

.footer-links-item .fa {
    margin-right: 7px;
}

.footer-links-item:hover .fa {
    margin-right: 14px;
}

.footer-links-item:hover {
    margin-right: 56px;
}

address div {
    margin-top: 10px;
}

address div .fa {
    margin-right: 10px;
}

.tel {
    font-size: 14px;
    font-family: "Lato Bold", "Arial", sans-serif;
}

.email .fa {
    font-size: 13px;
}

.address {
    line-height: 29px
}