/*Позиционирование
Блочная модель
Типографика
Оформление
Анимация
Разное*/

//название шрифта

@font-face {
    font-family: Lato Thin;
    src: url(../assets/fonts/Lato-Thin.ttf);
}

@font-face {
    font-family: Lato Light;
    src: url(../assets/fonts/Lato-Light.ttf);
}

@font-face {
    font-family: Lato Regular;
    src: url(../assets/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato Medium;
    src: url(../assets/fonts/Lato-Medium.ttf);
}

@font-face {
    font-family: Lato Heavy;
    src: url(../assets/fonts/Lato-Heavy.ttf);
}

@font-face {
    font-family: Lato Bold;
    src: url(../assets/fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat-ExtraLight.otf);
}

@font-face {
    font-family: "Montserrat UltraLight";
    src: url(../assets/fonts/Montserrat-UltraLight.ttf);
}

@font-face {
    font-family: Myriad;
    src: url(../assets/fonts/8141.otf);
}

/*---------specification---------*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.header {
    min-width: 1600px;
    width: 100%;
}

.hdr-container {
    height: 945px;
    width: 100%;
    background-blend-mode: multiply;
    background: url(../assets/img/bg/bg-hdr.jpg) rgba(0, 0, 0, 0.8);
    background-size: cover;
    color: #fff;
}

.wrapper {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hdr-top {
    // height: 90px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    display: flex;
    flex: 0 0 90px;
    align-items: center;
    justify-content: space-between;
}

h1.logo {
    position: relative;
    width: 165px;
    top: 4px;
    left: 2px;
    padding-top: 30px;
    height: 0;
    background: url("../assets/img/logo.png") no-repeat;
    overflow: hidden;
}

.nav {
    display: flex;
}

.nav-item {
    margin-left: 69px;
    padding: 36px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.nav-item:hover {
    border-bottom: 1px solid #ffffff;
}

.nav-item a {
    font-family: Lato Medium;
    font-size: 16px;
    color: #fff;
}

.hdr-center {
    //height: 100%;
    flex: 0 0 calc(100% - 90px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hdr-text p:first-child {
    position: relative;
    font-family: Myriad;
    font-size: 72px;
    text-transform: uppercase;
    text-align: center;
    bottom: 13px;
}

.hdr-text p+p {
    text-align: center;
    font-family: Georgia;
    font-style: italic;
    font-size: 32px;
    margin-bottom: 8px;
}

.hdr-btn {
    height: 120px;
    display: flex;
}

.btn-login {
    width: 103%;
    background: #21424a;
}

.btn-registr {
    width: 100%;
    background: #2fac6c;
}

.btn-registr::before {
    content: "";
    display: inline-block;
    background: #2fac6c;
    width: 60px;
    height: 100%;
    position: relative;
    top: 0;
    left: -15px;
    transform: skew(-13deg);
}

.btn-login:hover,
.btn-registr:hover,
.btn-registr:hover::before {
    filter: grayscale(100%);
}

.btn-login span,
.btn-registr span {
    position: relative;
    font-family: Lato Medium;
    font-size: 22px;
    text-transform: uppercase;
    color: #ffffff;
}

.btn-login span {
    top: 38%;
    left: 58%;
}

.btn-registr span {
    left: 23%;
    bottom: 43%;
}

/*----------------header---------------------*/

main {
    min-width: 1600px;
}

section.domain {
    height: 578px;
    background-color: #fafafa;
    background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill: none; stroke: rgba(0, 0, 0, 0.13); stroke-width: 1; stroke-dasharray: 8 8'/></svg>");
}

.damain-container {
    height: 402px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 74%;

}

.damain-headline {
    font-family: "Lato Heavy";
    font-size: 24px;
    color: #383737;
}

.damain-text {
    font-family: Montserrat UltraLight;
    font-size: 16px;
    color: #a2a2a2;
    margin: 20px 0 20px;
}

.domain-table,
.domain-form {
    border: 1px solid #d5d5d5;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    font-family: Lato Medium;
}

.domain-form {
    background-color: #ffffff;
    height: 50px;
    margin: 30px 0;
    padding: 8px;
}

.domain-form span {
    display: inline-flex;
    width: 64px;
    align-items: center;
    justify-content: center;
    color: #cbcbcb;
}

.domain-input {
    width: 86%;
    border: 0;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    outline: none;
    padding: 0 14px;
}

::-webkit-input-placeholder {
    color: #868686;
}

.domain-name {
    border: none;
    width: 70px;
    outline: none;
    color: #cbcbcb;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    cursor: pointer;
    padding: 0 16px;

}

.domain-form::after {
    content: '>';
    transform: rotate(90deg) scale(1, 1.5);
    position: relative;
    pointer-events: none;
    color: #c8c8c8;
    position: relative;
    right: 15px;
}

.domain-name option {
    color: #cbcbcb;
    border: 0;
    width: 10%;
}

.domain-table {
    border-collapse: collapse;
    height: 194px;
    color: #cbcbcb;
    margin-top: 10px;
}

tbody {
    width: 100%;
}

.table-row-top,
.table-row-bottom {
    display: flex;
    height: 50%;
}

.table-row-top td,
.table-row-bottom td {
    display: inline-flex;
    width: 25%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.table-row-top td:first-child,
.table-row-bottom td:first-child {
    text-transform: uppercase;
}


.table-row-top td::before {
    content: "";
    position: absolute;
    display: block;
    width: 90%;
    background: #d9d9d9;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.table-row-top td::after,
.table-row-bottom td::after {
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    background: #d9d9d9;
    height: 80%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.table-row-top td:last-child::after,
.table-row-bottom td:last-child::after {
    width: 0;
}

/*------------packages---------------*/

.packages {
    position: relative;
    height: 765px;
}

.packages-bg {
    position: absolute;
    height: 50%;
    width: 100%;
    left: 0;
    top: 0;
    background-image: url(../assets/img/bg/bg-packages.jpg);
    z-index: -1;
    background-position-y: 38%;
    background-size: cover;
}

.packages-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}

.packages-item {
    background: #ffffff;
    height: 560px;
    width: 255px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.06);
    border-top-width: 5px;
    border-top-style: solid;
    margin-top: 100px;
    padding: 28px;
}

.package-1,
.package-1 .packages-item-cost {
    border-color: #f9d423;
    color: #f9d423;
}

.package-2,
.package-2 .packages-item-cost {
    border-color: #7f8c8d;
    color: #7f8c8d;
}

.package-3,
.package-3 .packages-item-cost {
    border-color: #f5603f;
    color: #f5603f;
}

.package-4,
.package-4 .packages-item-cost {
    border-color: #1cbb9d;
    color: #1cbb9d;
}

.packages-item-logo {
    position: relative;
    width: 53px;
    height: 53px;
    margin: 8px auto;
}

.packages-item-logo svg {
    position: absolute;
    right: 2px;
    stroke-width: 6px;
    stroke-linecap: round;
}

.package-2 svg,
.package-3 svg {
    transform: rotate(-90deg);
}

.packages-item-logo .fa {
    position: absolute;
    top: 37%;
    left: 26%;
    font-size: 17px;
}

.packages-item-name,
.packages-item-btn {
    font-family: Lato Bold;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    color: #282828;
    margin: 18px 0;
}

.packages-item-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    padding: 19px 0 0;
}

.packages-item-info p {
    font-family: Lato Regular;
    margin-bottom: 21px;
}

.packages-info-col-name {
    color: #b4b4b4;
}

.packages-info-col-val p {
    text-align: right;
}

.packages-item-bottom {
    display: flex;
    flex-direction: column;
}


.packages-item .packages-item-cost {
    font-family: Lato Bold;
    font-size: 28px;
    text-align: center;
    color: #282828;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    margin: 19px auto;
    width: 52%;
    padding: 5px 0;
}

.packages-item-cost::before {
    content: "$";
    position: relative;
    font-size: 17px;
    bottom: 8px;
}

.packages-item-cost::after {
    content: "/Mo";
    position: relative;
    color: #8d8d8d;
    font-size: 13px;
}

.packages-item-btn {
    margin: 0;
}

.packages-item-btn:hover {
    opacity: 0.5;
}

/*------------about--------------*/

.about {
	height: 400px;
}

.about-container {
	display: flex;
	height: 200px;
	    width: 100%;
    justify-content: space-between;
}

.about-info {
		width: 425px;
}

.about-info::after {
 content: url('data:image/svg+xml;utf8,<svg width="1px" height="200px" xmlns="http://www.w3.org/2000/svg"><line x1="100%" y1="0" x2="100%" y2="100%" stroke="rgba(0, 0, 0, 0.13)" stroke-dasharray="4" stroke-width="2px" /></svg>');
	position: relative;
    top: -188px;
    left: 520px;
}

.about-headline {
	color: #303030;
	font-size: 35.5px;
	font-family: Lato Regular;
		font-weight: 500;
}

.about-headline span {
	font-weight: 900;
}

.about-text {
	color: #747474;
	font-family: Lato Light;
	font-size: 18px;
	line-height: 27px;
    margin-top: 23px;
}

.about-persons {
	display: flex;
	justify-content: flex-end;

}

.about-person-item {
	    margin:8px 17px 0 105px;
	    display: flex;
	    flex-direction: column;
	    font-size: 17px;
	    align-content: center;
	    align-items: center;
}

.person-photo {
	border-radius: 50%;
	height: 100px;
	width: 100px;
	border: 5px solid #e5e5e5;
}

.person-1 .person-photo {
	background-image: url(../assets/img/person-1.jpg);
}

.person-2 .person-photo {
	background-image: url(../assets/img/person-2.jpg);
	       background-position: -3px -4px;
}

.person-3 .person-photo  {
background-image: url(../assets/img/person-3.jpg);
    background-position: -8px 0;
}

.person-name {
	font-family: Lato Bold;
	color: #303030;
	    margin-top: 13px;
}

.person-post {
	font-family: Lato Regular;
	color: #8e8e8e;
	    margin: 7px 0;
}

.person-social {
	width: 90px;
		display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.person-social-item {
	color: #bfbfbf;
}

.person-social-item:hover {
	color: #1f89ba;
}

/*------------------comments-slider----------------*/

.comments-slider {
	height: 190px;
	background-image: url(../assets/img/bg/bg-comments.jpg);
	background-size: cover;
	    background-position: 50% -60%;
}

.comments-container {
	text-align: center;
    width: 80%;
    height: 55%;
    font-size: 20px;
    font-family: Lato Light;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.quotation {
		line-height: 30px;
}

.comments-control {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.comments-writer {
	font-family: Lato Bold;
	    padding: 0px 9px;
	border-right: 1px solid #969696;

}

.dots-navigation {
	display: flex;
    justify-content: space-around;
    align-items: center;
}

.dot {
	border-radius: 50%;
	border: 1px solid #ffffff;
	width: 8px;
	height: 8px;
	margin-left: 12px;
	cursor: pointer;
}

.dot:hover,
.dot-active {
	background: #ffffff;
}

/*----------------benifits---------------*/

.benifits {
	height: 342px;
}

.benifits-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 150px;
}

.benifits-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 20%;
}

.benifits-logo {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	font-size: 28px;
	    margin: 3px 0 20px;
}

.benifits-logo.yellow {
	background: #f1c40f;
}

.benifits-logo.blue {
	background: #0faff1;
}

.benifits-logo.grey {
	background: #95a5a6;
}

.benifits-logo.orange {
	background: #f1540f;
}

.benifits-name {
	font-family: Lato Heavy;
	font-size: 18px;
	color: #303030;
	    margin-bottom: 5px;
}

.benifits-description {
	font-family: Lato Light;
	font-size: 16px;
	color: #7e7e7e;
	line-height: 22px;
	text-align: center;
}
